@media (max-width: 768px) {
    .sweetHome-assets {
        height: 25px;
        margin-right: 10px;
    }

    .menu__item {
        font-size: 18px;
    }

    .menu__box li:not(:first-child):not(:last-child)::after {
        width: 0.5px;
        height: 25%;
    }

    .sweetHome-main {
        width: 500px;
        height: auto;
    } 
    
    .centered-content p {
        font-size: 20px;
    }

    .phone-button {
        font-size: 10px;
    }
  
    .unusual-images-lg {
        display: none;
    }
  
    .unusual-images-md {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 13px;
    }
  
    .arrow {
        display: none;
    }
  
    .arrow-md{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  
    
  
    .contact-us {
        padding-bottom: 46px;
    }
  
    .arrow-sm{
        display: none;
    }
  
    .unusual-images-sm {
        display: none;
    }

    footer  .info {
        width: 768px;
    }
    footer .info h2 {
        font-size: 24px;
        margin-left: 25px;
        margin-right: 50px;
    }
    footer .info h3 {
        font-size: 17px;
    }
    footer .group {
        width: 768px;
    }
    footer .group .container {

        left: 8%;
    }
    footer .group h4 {
        font-size: 12px;
    }
    footer .group .container h4:not(:first-child) {
        margin-left: 20px;
    }

  }