.main-picture {
    width: auto; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
    text-align: center;
}

.tittle {
    font-size: 120px;
    color: #401609;
}

.main-tittle {
    font-family: "Give You Glory", cursive;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    padding-left: 142px;
}

.secondary-tittle {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    padding-top: 472px;
    position: absolute;
}